@charset "UTF-8"

* {
    margin: 0px;
    padding: 0px;
}

body{
    background-image: linear-gradient(to left, black, rgb(65, 55, 55));
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}

header {
    background-image: linear-gradient(to left, rgb(151, 130, 130), gray);
    background-color: white;
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 10px;
}

header h1 {
    font-size: 5em;
    padding: 20px;
}

main img {
    display: block;
    margin:;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding: ;

}

main img.noia{
    display: block;
    margin: auto;
    width: 500px;
    height: 300px;
    border-radius: 10px;
    padding-bottom: 100px;
}

main ul {
    columns: 2;
    margin: auto;
    padding:;
}

main li {
    text-decoration: none;
    display: block;
    padding-left: 28%;
    text-align: auto;
}